$title-font: normal 1.6em 'titleFont',cursive;
$subtitle-font: normal 24px/1.2 'Alegreya Sans','Open Sans', sans-serif;
$text-font: normal 18px/1 'Alegreya Sans','Open Sans', sans-serif;
$link-font: normal 1em 'Alegreya Sans','Open Sans', sans-serif;
$main-color: #1E2439;
$hover-color: #EC9E9E;
$font-color:#fff;
$no-margin-padding: 0px;
$standart-border: 1px solid white;
